/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ffffff;
    padding: 10px 0;
    height: 2cm; /* Hauteur de l'entête */
    display: flex;
    justify-content: flex-end; /* Aligne le texte à droite */
    align-items: center; /* Centre verticalement */
}

header h1 {
    margin: 0;
    color: #00BFFF; /* Bleu ciel */
    padding-right: 20px; /* Espace à droite */
}

main {
    padding: 20px;
}

footer {
    background-color: #ffffff; /* Couleur blanche */
    height: 0.5cm; /* Hauteur de 0,5 cm */
    display: flex;
    align-items: center; /* Centrer verticalement le texte */
    justify-content: center; /* Centrer horizontalement le texte */
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    color: #00BFFF; /* Bleu ciel */
    font-size: 10px; /* Plus petite taille de police */
    margin: 0; /* Supprime la marge par défaut */
}
